{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-9">
    <div class="row">
        <ul class="list-group" id="org-animal-list">
            {% for animal in animals %}
            <li class="list-group-item">
                <a href="/animal/details/{{ animal.id}}" class="item-link">
                    <a href="/animal/details/{{ animal.id }}">
                        <img src="{{ animal.img_url }}" alt="" class="saved-list-image">
                    </a>
                    <div class="org-animal-name">
                        <p>{{ animal.name }}</p>
                    </div>
                    <form method="POST" action="/animal/save/{{ animal.id }}" class="save-heart-button">
                        <button class="
                  btn 
                  btn-sm 
                  {{'btn-danger' if animal.id in animal_likes else 'btn-secondary'}}">
                            <i class="fa fa-heart"></i>
                        </button>
                    </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}